@model PartyMemberManager.Dal.Entities.Nation

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Edit";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Edit">
            <partial name="_PartialEdit" model="@Model" />
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
