@model PartyMemberManager.Dal.Entities.PotentialMember

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Create";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="TrainClassId" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <select asp-for="TrainClassId" class="form-control" asp-items="ViewBag.TrainClasses">
                            <option>-请选择培训班-</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="@LabelDivDefaultClass">
                        <label asp-for="PotentialMemberTime" class="control-label"></label>
                    </div>
                    <div class="@InputDivDefaultClass">
                        <input id="PotentialMemberTime" name="PotentialMemberTime" class="form-control" placeholder="yyyy-MM-dd" readonly />
                        <span asp-validation-for="PotentialMemberTime" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#PotentialMemberTime',
            });
        });
    </script>
}