@model PartyMemberManager.Dal.Entities.PartyActivist

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Create";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Create">
            <partial name="_PartialEdit" model="@Model" />
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#PartyMemberType").change(function () {
                var partyMemberType = $("#PartyMemberType").val();
                switch (partyMemberType) {
                    case "@((int)PartyMemberType.学生)":
                        $("#ClassGroup").show();
                        $("#DutyGroup").hide();
                        break;
                    case "@((int)PartyMemberType.教师)":
                        $("#ClassGroup").hide();
                        $("#DutyGroup").show();
                        break;
                }
            });
        });
    </script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#BirthDate',
                type: 'month',
            });
        });
    </script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#BirthDate',
                type: 'month'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#ApplicationTime'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#ActiveApplicationTime'
                , trigger: 'click'
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#YearTermId").change(function () {
                filterTrainClass();
            });
            $("#DepartmentId").change(function () {
                filterTrainClass();
            });
            filterTrainClass();
        });
        /**过滤培训班 */
        function filterTrainClass() {
            var url = '@Url.Action("GetTrainClassDatas")';
            var trainClassTypeId = $("#TrainClassTypeId").val();
            var yearTermId = $("#YearTermId").val();
            var departmentId = $("#DepartmentId").val();
            var where = { trainClassTypeId: trainClassTypeId, yearTermId: yearTermId, departmentId: departmentId };
            $.ajax({
                url: url,
                data: where,
                dataType: "json",
                type: "POST",
                error: function () { },
                success: function (data) {
                    if (data.code == 0) {
                        var options = "<option value=''>-请培训班-</option>";
                        for (var i = 0; i < data.datas.length; i++) {
                            options+="<option value='" + data.datas[i].id + "'>" + data.datas[i].name+"</option>";
                        }
                        $("#TrainClassId").html(options);
                    }
                    else {
                        showError(data.mssage);
                    }
                },
                complete: function () { }
            });

        }
    </script>
}
