<!DOCTYPE html>
<html lang="en">
<partial name="_PartialHead" />
<body style="background:#FFFFFF;color:#474747;width:100%;overflow:hidden">
    @RenderBody()
    <partial name="_PartialScripts" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
