<!DOCTYPE html>
<html lang="en">
<partial name="_PartialHead" />
<body style="background:white;width:100%;">
    @RenderBody()
    <partial name="_PartialScripts" />
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
