@{
    Layout = "_LayoutParent";
}
@*<a class="" href="@Url.Action("Logout","Account")">注销</a>*@

@RenderBody()

@section Scripts{
    @RenderSection("Scripts", required: false)
<script type="text/javascript">
</script>
}