@model bool
<header style="height:60px;width:100%;" class="app-sys-command-container" id="pageHeader">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light headerbar app-sys-command-container" style="height:60px">
        <div class="container app-sys-command-container" style="color:red;margin-left:0">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/Logo.png" width="40" style="padding:0 3px" />
                <span style="padding:3px">兰州财经大学入党管理系统</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse float-right" style="position:fixed;right:0">
                <ul class="navbar-nav flex-grow-1">
                    @if (Model)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white sys-commands" href="javascript:;">
                                @CurrentUser.LoginName
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white sys-commands" href="javascript:editOperator()">
                                <i class="layui-icon layui-icon-username" style="font-size: 14px; color: #FFFFFF;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white sys-commands" href="javascript:logout()">
                                <i class="layui-icon layui-icon-close-fill" style="font-size: 14px; color: #FFFFFF;"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
