<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 兰州财经大学入党积极分子管理系统</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/Font-Awesome-3.2.1/css/font-awesome.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link href="~/Font-Awesome-3.2.1/css/font-awesome-ie7.css" rel="stylesheet" />
    <![endif]-->
</head>
