
@{
    ViewData["Title"] = "NoRightError";
}
<div style="height:500px;align-content:center;vertical-align:middle;text-align:center;position:relative;margin-top:20%;">
    <img src="~/images/noright.jpg" style="width:50%"/>
</div>