@model Exception
@{
    Exception exception = Model;
    while (exception != null)
    {
        <h3>错误类型:@(exception.GetType().Name)，错误信息:@(exception.Message)</h3>
        exception = exception.InnerException;
    }
}