
@{
    Layout = "_LayoutEdit";
    ViewData["Title"] = "关于";
}
<div style="line-height:30px;margin-top:20px;">
    <div class="row">
        <div >主程序版本:</div>
        <div >V1.0.0</div>
    </div>
    <div class="row">
        <div >专业库版本:</div>
        <div >V1.0</div>
    </div>
    <div class="row">
        <div >技术支持:</div>
        <div >兰州财经大学</div>
    </div>
</div>