@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .content-container {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .panelmenu {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        width: 200px;
        border-top:1px solid #e5e5e5;
    }

    .rightContent {
        position:relative;
        top: 60px;
        right: 0;
        bottom: 0;
        left: 205px;
        overflow-y: auto;
    }
</style>
<partial name="_PartialHeader" model="true" />
<div class="row content-container" id="panelContent">
    <div class="panelmenu offset-top" id="leftSideBar">
        <aside>
            <partial name="_LeftMenu" />
        </aside>
    </div>
    <div class="rightContent" id="rightContent">
        <main role="main" class="pb-3">
            <iframe id="mainframe" name="mainframe" frameborder="0" style="overflow: visible " scrolling="no" width="785" height="620" src="@Url.Action("Index","Nations")"></iframe>
        </main>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        /**
         * 打开连接
         * @@param element
         */
        function openLink(href) {
            $("#mainframe").attr("src", href);
        }
    </script>
}