@model PartyMemberManager.Dal.Entities.SchoolCadreTrain

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Create";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <partial name="_PartialEdit" model="@Model" />
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/layui/layui.js"></script>
    <script>
        function computeHour(start, end) {
            if (start != "" && end != "") {
                start = start.replace(/-/g, "/");
                var startTime = new Date(start);
                end = end.replace(/-/g, "/");
                var endTime = new Date(end);
                var days = parseInt((endTime.getTime() - startTime.getTime()) / (1000 * 60 * 60 * 24))+1;
                $("#TrainDuration").val(days);
                //$("#ClassHour").val(days * 8);
            }
        }
    </script>
    <script>
        layui.use('form', function () {
            var form = layui.form;
        });
    </script>
    <script type="text/javascript">
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            laydate.render({
                elem: '#Year',
                type: 'year'
                , trigger: 'click'
            });
            laydate.render({
                elem: '#TrainTime',
                type: 'date'
                , trigger: 'click',
                done: function (value, date, endDate) {
                    var end = $("#EndTrainTime").val();
                    computeHour(value, end);
                }
            });
            laydate.render({
                elem: '#EndTrainTime',
                type: 'date'
                , trigger: 'click',
                done: function (value, date, endDate) {
                    var start = $("#TrainTime").val();
                    computeHour(start, value);
                }
            });
        });
    </script>
}