@model PartyMemberManager.Dal.Entities.SchoolCadreTrain

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-md-12">
        <partial name="_PartialEdit" model="@Model" />
    </div>
</div>