@model PartyMemberManager.Dal.Entities.TrainClassType

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Edit";
}
<div class="row form-padding-top">
    <div class="col-md-12">
        <form asp-action="Create">
            <partial name="_PartialEdit" model="@Model" />
        </form>
    </div>
</div>
